body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0 1px;
  box-sizing: border-box;
}

header{
  position: relative;
  width: 100%;
  height: 150px;
  background-color: skyblue;
}
.cloud{
  position: absolute;
  top: -30px;
  left: 0;
  width: 150px;
  opacity: 0.6;
  animation: wind 55s linear infinite;
}
.cloud1{
  position: absolute;
  top: -50px;
  width: 100%;
  height: 200px;
  opacity: 0.7;
}

.cloud2{
  position: absolute;
  width: 110px;
  top: 10px;
  opacity: 0.5;
  animation: wind 80s linear infinite;
}

@keyframes wind{
  from{left: -150px}
  to{left: 75%}
}

.h1-bar{
  position:absolute;
  left: 0px;
  right: 0;
  bottom: -15px;
  text-align: center;
  color: white;
}
.logo-img{
  position: absolute;
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.menu-bar{
  position: sticky;
  top: 0px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1px;
  min-width: 250px;
  cursor: pointer;
  font-style: italic;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
  z-index: 1;
}

.menu-bar a{
  text-decoration: none;
  font-weight: bold;
}
.menu-bar p{
  display: flex;
  flex-direction: row;
  justify-content: center;

  transition: opacity 0.5s;
}
.menu-bar p:hover{
  opacity: 0.4;
}

main {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  }

.first-cont{
  height: 500px;
  width: 100%;
}

.top-container{
  position: relative;
  margin-top: 10px;
  width: 100%;
}
.text{
  position: absolute;
  top: 40px;
  text-align: center;
  font-size: 50px;
}
.body-img{
  width: 100%;
  height: 500px;
}

h2{
  font-size: 40px;
  font-style: italic;
  text-align: center;
  color: rgb(40, 40, 95);
}


.drone2{
  width: 100%;
  margin-top: 10px;
  
}

.img3{
  width: 100%;
  margin-top: 10px;
}
.tf-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 244, 244);
  border-radius: 20px;
  padding-bottom: 30px;
}
.button{
  background-color: blue;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 5px;
  cursor: pointer;
  transition: opacity 0.19s;
}
.button:hover{
  opacity: 0.7;
}

.img4{
  width: 100%;
}

.contact-bar{
  background-color: rgb(159, 159, 248);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  color: white;
  padding: 20px;
}

.contact-bar span{
  font-size: 16px;
  color: rgb(226, 226, 226);
}


.container{
  padding: 2px;
}

.slider-wrapper{
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type:x mandatory;
  scroll-behavior: smooth;
  box-shadow:0 1.5px 3px x -0.75px hsla(0, 0, 0, 0.25);
  border-radius: 2px;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: contain;
}

.slider-nav{
  display: flex;
  column-gap: 4px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.76;
  transition: opacity ease 0,25s;
  cursor: pointer;
}

.slider-nav a:hover{
  opacity: 1;
}


footer{
  width: 100%;
  background-color: #081a30;
  color:white;
  border-radius: 3px ;
  text-align: center;
  border-top: 1px solid gray;
  margin-top: 20px;
  padding: 20px 0px;
}

.f-fdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-fdive{
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

hr{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.f-img{
  aspect-ratio: 16/9;
  width: 100px
}

.ff-img{
  width: 25px;
  height: 15px;
  padding-top: 3px;
}